<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/style.css")
	
body
	.header
		.wraper-bg
			.bg-shadow
			.header-blue_block
				ul.menu-list
					li.menu-lists
						a(href="#") Home
					li.menu-lists
						a(href="#") Packeges
					li.menu-lists
						a(href="#") Flight
					li.menu-lists
						a(href="#") Trains
					li.menu-lists
						a(href="#") Reach us				
			.header-logo
				.header-logo-text
					h1 Safari Tour 
					h4 International Tour packages
			.airplane
				.airplane-cloud
					.airplane-img
					.airplane-text
						h1 Singapure
						h4 Malaisia Singapure
						h4 Super Saver Summer 2017						