

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	max-width: 1280px;
	height: auto;
	}
	// HEADER
.header{
	background-image: url('../img/bg-shade.png');
	width: 100%;
	height: 1000px;
	
	// FON FON FON FON
	// FON FON FON FON
	// FON FON FON F
	}
	.bg-shadow{
		height: 150px;
		background-image: url('../img/bg-shades1.png');
		}
	//BLUE HEADER BLOCK BLUE HEADER BLOCK BLUE HEADER BLOCK
	//BLUE HEADER BLOCK BLUE HEADER BLOCK BLUE HEADER BLOCK
		.header-blue_block{
		// display: block;
		position: relative;
		bottom: 20%;
		margin: 5px auto;
		width: 966px;
		height: 106px;
		z-index: 0;
		background-color: #4cb2e7;
		-webkit-border-radius: 7px;
		        border-radius: 7px;
		-webkit-transform: rotate(357deg);
		   -moz-transform: rotate(357deg);
		    -ms-transform: rotate(357deg);
		     -o-transform: rotate(357deg);
		        transform: rotate(358deg);
			ul{
				display: flex;
				position: relative;
				width: 58%;
				top: 60%;
				left:32%;
				text-align: right;
				-webkit-justify-content: space-between;
				        justify-content: space-between;
				-webkit-transform: rotate(362deg);
		   -moz-transform: rotate(362deg);
		    -ms-transform: rotate(362deg);
		     -o-transform: rotate(362deg);
		        transform: rotate(362deg);	
			}	
				.menu-list li {
					float: left;
					list-style: none;
					margin-left: 7px;
				}
	}
	//LOGO TEXT1 TEXT2 COLOR GRAY BORDER WHITE
	//LOGO TEXT1 TEXT2 COLOR GRAY BORDER WHITE
	.header-logo{
		// position: absolute;
		left: 100px;
		// top:-2em;
		max-width: 295px;
		height: 158px;
		background-color:#e1ecf2;
		z-index: 1;
		color: RGB(42,160,200);
		border:6px solid white;
		-webkit-border-radius: 25px;
		        border-radius: 25px;
		-moz-transform: rotate(356deg);
		    -ms-transform: rotate(356deg);
		     -o-transform: rotate(356deg);
		        transform: rotate(356deg);	
		.header-logo-text {
			position: relative;
			top: 3em;
			left: 1em;
			z-index: 3;
			h1{
				font-size: 2em;	
				z-index: 3;
				
			}
		}
	}
	



.airplane {
   
   
   width: 100%;
   height: 100%;
    .airplane-cloud{
    	background-image: url('../img/cloud-header.png');
    	background-repeat: no-repeat;
    	background-position: 24% 4% ;
    	width: 100%;
    	height: 100%;
		 		.airplane-img{
		 	float: left;
		 	background-image: url(../img/airplane.png);
		 	background-repeat: no-repeat;
		 	background-position: 5% 6%;
		 	width: 100%;
		 	height: 100%;
		}	
				.airplane-text{
			position: relative;
			display: block;
			
			float: left;
			left: -2%;
			top: -10%;
					h1{
				font-size: 61px;
				font-family: 'Permanent Marker';
				line-height: 50px;
				color: #127EA5;
			}
					h4{margin-top: 10px;
				color: #DED90E;
				text-align: center;
				line-height: 30px;
				}
			}			
	}

}
.booking-board{
	float: right;
	width: 308px;
	height: 530px;
	-webkit-border-radius: 17px;
	border-radius: 17px;
	border: 6px solid #7ebee0;
	}